/* messenger window additional button 'Send all' */
#GetSendButton_S_all,
#tabbar-toolbar #GetSendButton_S_all {
  list-style-image: url("resource://getsendbutton/skin/send_supernova_compact.svg");
}

#button-getsendbutton {
  list-style-image: url("resource://getsendbutton/skin/getallmsg_supernova.svg");
}

#GetSendButton_messenger_menupopup_ReceiveAccount {
  padding-inline-start: 32px !important;
}

:root[uidensity="touch"] #GetSendButton_messenger_menupopup_sendUnsent {
  list-style-image: url("resource://getsendbutton/skin/send_supernova_normal.svg");
}
#GetSendButton_messenger_menupopup_sendUnsent {
  list-style-image: url("resource://getsendbutton/skin/send_supernova_compact.svg");
}
#GetSendButton_messenger_menupopup_sendUnsent[disabled="true"] {
  fill-opacity: 0.4;
}

:root[uidensity="touch"] #GetSendButton_messenger_menupopup_SyncFlagged {
  list-style-image: url("resource://getsendbutton/skin/star_supernova_compact.svg");
}
#GetSendButton_messenger_menupopup_SyncFlagged {
  list-style-image: url("resource://getsendbutton/skin/star_supernova_compact.svg");
}
#GetSendButton_messenger_menupopup_SyncFlagged[disabled="true"] {
  fill-opacity: 0.4;
}

/* Get all / auth messages */
#GetSendButton_messenger_menupopup_ReceiveAll,
#GetSendButton_messenger_menupopup_ReceiveAuth {
  list-style-image: url("resource://getsendbutton/skin/getallmsg_supernova.svg");
}

/* supernova icon css definitions */
#button-getsendbutton,
#GetSendButton_messenger_menupopup_ReceiveAll,
#GetSendButton_messenger_menupopup_ReceiveAuth,
#GetSendButton_S_all,
#tabbar-toolbar #GetSendButton_S_all,
#GetSendButton_messenger_menupopup_sendUnsent,
#GetSendButton_messenger_menupopup_sendUnsent[disabled="true"],
#GetSendButton_messenger_menupopup_SyncFlagged,
#GetSendButton_messenger_menupopup_SyncFlagged[disabled="true"] {
  -moz-context-properties: fill, stroke, fill-opacity;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
}